EVM_ADDRESS=0xYourWalletAddress
FACILITATOR_URL=https://x402.org/facilitator
FAL_KEY=your_fal_ai_api_key
FACILITATOR_PRIVATE_KEY=0xYourFacilitatorPrivateKey
BASE_RPC_URL=https://mainnet.base.org
REGISTRATION_MAX_SPONSOR_WEI=200000000000000
